smmap==5.0.1
certifi==2024.8.30
scipy==1.14.0
matplotlib==3.9.0
setproctitle==1.3.3
cycler==0.12.1
importlib_metadata==8.0.0
platformdirs==4.2.2
pyparsing==3.1.2
setuptools==69.5.1
mdurl==0.1.2
pickleshare==0.7.5
click==8.1.7
six==1.16.0
tensorflow-io-gcs-filesystem==0.37.1
flatbuffers==24.3.25
keras==3.5.0
MarkupSafe==2.1.5
ipykernel==6.29.5
requests==2.32.3
PyYAML==6.0.2
tornado==6.4.1
jupyter_core==5.7.2
ipython==8.26.0
libclang==18.1.1
Pygments==2.18.0
sentry-sdk==2.14.0
typing_extensions==4.12.2
joblib==1.4.2
google-pasta==0.2.0
matplotlib-inline==0.1.7
gast==0.6.0
wrapt==1.16.0
pytz==2024.1
namex==0.0.8
comm==0.2.2
idna==3.8
tensorboard-data-server==0.7.2
charset-normalizer==3.3.2
nest_asyncio==1.6.0
rich==13.8.1
traitlets==5.14.3
python-dateutil==2.9.0.post0
python-dateutil==2.9.0
parso==0.8.4
fonttools==4.53.0
ml-dtypes==0.4.0
tensorflow==2.17.0
executing==2.0.1
packaging==24.1
wheel==0.43.0
wandb==0.18.0
pyzmq==25.1.2
scikit-learn==1.5.0
stack-data==0.6.2
zipp==3.19.2
contourpy==1.2.1
pure-eval==0.2.2
Markdown==3.7
tensorboard==2.17.1
tensorly==0.8.1
jupyter_client==8.6.2
kiwisolver==1.4.5
h5py==3.11.0
opencv-python==4.10.0.84
optree==0.12.1
Werkzeug==3.0.4
pip==24.0
pillow==10.4.0
opt-einsum==3.3.0
termcolor==2.4.0
numpy==1.26.4
urllib3==2.2.3
jedi==0.19.1
tzdata==2024.1
absl-py==2.1.0
asttokens==2.4.1
GitPython==3.1.43
debugpy==1.6.7
pexpect==4.9.0
psutil==6.0.0
markdown-it-py==3.0.0
decorator==5.1.1
ptyprocess==0.7.0
pandas==2.2.2
PyWavelets==1.6.0
prompt_toolkit==3.0.47
wcwidth==0.2.13
protobuf==4.25.4
astunparse==1.6.3
grpcio==1.66.1
gitdb==4.0.11
threadpoolctl==3.5.0
exceptiongroup==1.2.0
docker-pycreds==0.4.0
